* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

body {
  background: #020617;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  margin: 10px 0;
}

canvas {
  background: #111;
  border: 3px solid #38bdf8;
  margin-top: 5px;
  touch-action: none;
}

#score {
  margin-top: 5px;
}

#msg {
  color: #f87171;
  font-size: 18px;
  margin: 5px;
}

button {
  margin-top: 8px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: black;
}
